<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Row</title>
</head>

<body>

<form action="" method="post">
<table>
{% for key in results %}
    <tr>
        <td>{{ key.1 }}</td>
        <td><input name="{{ key.1 }}" type="text" /></td>
    </tr>
{% endfor %}
</table>

<input type="submit" value="Submit" />

{% csrf_token %}

</form>

</body>
</html>
