{% load filters %}

<h2><a href="{% url backend_home %}"><i class="icon-home"></i>لوحة التحكم</a></h2>
<div class="well" style=" padding: 8px 0;">

	<ul class="nav nav-list"> 
		<li class="nav-header"></li>        
			{% if 'table id' in tables.0 %}
				{% for table in tables %}
				<li>
				   <a href='{% url table tableid=table|getkey:"table id" %}' ><i class="icon-th"></i> {{table|getkey:"table id"|tabletag:'name'}}</a>
				</li>
				{% endfor %}
            {% else %}
                You don't have tables to view
            {% endif %}    			         
        <li class="divider"></li>
		<li><a href="{% url logout %}"><i class="icon-share"></i>تسجيل خروج</a></li>
	</ul>
</div>